<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" href="normalize.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic|Raleway:500,100,300" rel="stylesheet">
    -->
    <link rel="stylesheet" type="text/css" media="screen" href="site.css">

  </head>

  <body>
      <div class="container wrapper post">
      <div class="header">
          <h1 class="site-title"><a href="index.html">Brain Dump</a></h1>
          <nav class="nav">
              <ul class="flat">
                <li> <a href="index.html">Home</a></li>
                <li> <a href="listing.html">All posts</a></li>

              </ul>
          </nav>
      <div class="site-description">
          <p>
          This website serves to store all information that I note down over time.<br>

          <a href="https://braindump.jethro.dev/">Inspiration for this website.</a><br>
          <a href="https://gobyexample.com/">Inspiration for design of website.</a><br>
          <a href="https://github.com/vividvilla/ezhil">CSS Template.</a><br>

          Hosted on Amazon S3, rendered using <a href="https://github.com/russross/blackfriday"> Blackfriday</a>.
        </p>
      </div>


    </div>

    <div class="post-header">
        <h1 class="title"></h1>
        <div class="meta"></div>
    </div>
    <div class="markdown">
        <h2>
            Recent Posts
        </h2>
        <div class="posts">
        {{range .}}
        <div class = "post">
            <div class="meta">{{ .TimeString }}</div>
            <a class="title" href="{{ .Path }}">{{.Title}}</a> | {{.Topic}}
            <span class="description">

            </span>
        </div>
        <br>
        {{end}}
    </div>
    </div>
</div>
    <div class="footer">
        by <a href="https://seanngpengnam.com">Sean Ng</a> | <a href="https://github.com/pengnam/BrainDump">source</a>
  </div>
  </body>
</html>
