<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sean's Brain</title>
    <link rel="stylesheet" type="text/css" media="screen" href="site.css">
    <link rel="stylesheet" type="text/css" media="screen" href="normalize.css">
  </head>


  <body>
      <div class="container wrapper post">
      <div class="header">
          <nav class="nav">
              <ul class="flat">
                <li> <a href="index.html">Home</a></li>
                <li> <a href="listing.html">All posts</a></li>
              </ul>
          </nav>
    </div>

    <div class="post-header">
        <h1 class="title"></h1>
        <div class="meta"></div>
    </div>
    <div class="markdown">
        <h2>
            Recent Posts
        </h2>
        <div class="posts">
        {{range .}}
        <div class = "post">
            <a class="title" href="{{ .Path }}">{{.Title}}</a> | {{.Topic}}
            <span class="description">
                {{.ShortTimeString }}
            </span>
        </div>
        <br>
        {{end}}
    </div>
    </div>
</div>
    <div class="footer">
        by <a href="https://seanngpengnam.com">Sean NG</a> | <a href="https://github.com/pengnam/BrainDump">source</a>
  </div>
  </body>
</html>
